body,
html {
	width: 100%;
	background:  rgb(51, 51, 51);
	font-size: 16px;
}
.person {
	font-size: 16px;
	font-family: sans-serif;
	color: white;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	width: 800px;
  margin: auto;
}
.person__info {
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.person__contacts {
	margin-bottom: 2rem;
}
.person__contacts:hover {
  animation: blur 1s ease-out infinite;
}
@keyframes blur {
  from {
    text-shadow:0px 0px 10px rgb(0, 0, 0),
      0px 0px 10px rgb(0, 0, 0), 
      0px 0px 25px rgb(0, 0, 0),
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

.person__details {
	/* добавьте ваш код  */
}
.avatar {
	/* добавьте ваш код  */
}
.avatar__picture {
	width: 380px;
	border-radius: 50%;
	border: 32px solid white;
  transition: 1s;
}
.avatar__picture:hover {
  transform: rotate(180deg);
}
.contacts {
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
}
.contacts__name {
	font-size: 32px;
	font-weight: bold;

}
.contacts__role {
	font-size: 19.2px;
	font-weight: bold;
  margin-bottom: 2rem;
}
.contacts__item {
	font-style: italic;
}
.contacts__title {
	font-weight: bold;
}
.contacts__title:after {
	/* добавьте ваш код  */
}
.contacts__link {
	color: gray;
}
.paragraph {
	margin-bottom: 1rem;
}
.paragraph_last {
	margin-bottom: 3rem;
}

.paragraph:hover {
  background-color:rgba(0, 0, 0, 0.39);
  border-radius: 5px;
}

@media (max-width : 767px) {
	.person {
		width: 300px;
	}
  .person__info {
    display: flex;
    flex-direction: column;
  }
	.contacts__name {
		text-align: center;
	}
	.contacts__role {
		text-align: center;
	}
  }
